*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}
label{
    padding: 10px;
    position: absolute;
    z-index: 1;
    
}

ul{
    list-style: none;
    position: absolute;
    top: 100px;
    width: 100%;
    background-color: rgba(16,16,16,.5);
}

input[type="checkbox"]{
    display: none;
}

input[type ="checkbox"]:checked ~ nav{
    transform: translateX(350px);

}

nav{
    background-color: rgba(16,16,16,.5);
    position: absolute;
    width: 350px;
    height: 100px;
    left: -350px;
    transition: all .5s;

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri;
}

h1{
    text-align: center;
    padding: 20px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    margin: 5px;
}

body{
    background-color:rgb(252, 226, 169) ;
    margin: 0px;
}

.h1-left{
    text-align: center;
}

.profile-image{
    border-color: black;
    border-width: 2px;
    border-radius: 100px;
}

.linkmenu{
    display: block;
    padding: 20px 5px;
    color: white;
}

.linkmenu:hover{
    background-color: rgb(226, 211, 162);
    color: black;

}

#Menu{
    width: 50px;
}

#portfolio{
    height: 150px;
    width: 250px;
    text-align: center;
    padding:40px;
   
}

#icons{
    text-align: center;
    padding: 5px;
}


