.h1-left{
    text-align: center;
    margin: 0px 20px 20px;

}
h1{
    text-align: center;
}

h2{
    text-align: center;

}

p{
    text-align: center;
}

#icons{
    text-align: center;
    padding: 5px;
}

.profile-image{
    border-color: black;
    border-width: 2px;
    border-radius: 100px;
}

body{
    background-color:rgb(212,224,222) ;
    margin: 0px;
    
    
}

.master-div{
    display: flexbox;
}

.left-div{
    background-color: rgb(128,181,170);
    min-height:100vh;
    width: 250px;
    margin:0px 0px 0px;
    padding: 0px;
    display: flexbox;
    order: 1;
    
    
}
.right-div{
    background-color: rgb(212,224,222);
    min-height: 100vh;
    min-width:82%;
    float: right;
    clear: both;
    display: flexbox;
    order: 2;
}

#portfolio{
    height: 150px;
    width: 250px;
    text-align: center;
    padding:40px;
   
}

.container{
    width: auto;
    margin: auto;

}