h1{
    text-align: center;

}

h2{
    text-align: center;

}

p{
    text-align: center;
}

img{
    text-align: center;
}

.profile-image{
    border-color: black;
    border-width: 2px;
    border-radius: 100px;
}

body{
    background-color: lavender;
    
}

/* #left-div{
    background-color: brown;
    height:100%;
    width: 50px;
} */